---
import Layout from '../layouts/Layout.astro';
import Enlaces from "./enlaces.astro";

import '../styles/global.css';
---
<Layout>
    <h1>Mi blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et debitis ut suscipit quidem tenetur hic voluptates vero consequuntur libero alias. Recusandae perspiciatis laboriosam dolore officiis nam consequatur modi provident sit.</p>
    <Enlaces></Enlaces>
</Layout>