---
import '../styles/global.css';
---
<hr>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/probandoCosas">Probando Cosas</a></li>
    <li><a href="/posts/post1">Post1</a></li>
    <li><a href="/posts/post2">Post2</a></li>
    <li><a href="/posts/post3">Post3</a></li>
</ul>